body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

button:active{
    transform: scale(0.90);
}

div{
    height: 300px;
    border: 1px solid black;
    width: 700px;
    text-align: center;
}